/* write your override styles here */

.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: none;
}
#wall .tag-1 {
  display: none;
}
#tag-2,
#wall {
  display: none;
}
#wall,
#tag-3 {
  display: none;
}
#tag-6 {
  display: none;
}

.slick,
.wicked {
  display: none;
}
